### Borrowed in part from http://www.farinspace.com/codeigniter-htaccess-file/

# Turn on URI rewriting
RewriteEngine On
RewriteBase /

# Unless the requested URI identifies a real file or directory, reroute it.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ /index.php/$1 [L]
